In [30]:
data = {'id':[1,2,3],'value':['a','b','c']}
x = pd.DataFrame(data)
print(x)
y = x['id'] + 1
print(y)

x['added'] = y

x

def azureml_main(dataframe)
    import pandas as pd 
    
    scored =

   id value
0   1     a
1   2     b
2   3     c
0    2
1    3
2    4
Name: id, dtype: int64

   id value  added
0   1     a      2
1   2     b      3
2   3     c      4